<?xml version="1.0"?>
<model>
  <name>3DR Iris with d435 camera</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_d435.sdf</sdf>

  <author>
   <name>Miseon</name>
   <email>maisie0329@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with realsense camera(d435). The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
